<app-navbar></app-navbar>

<header>
    <div class="logo-container"><img src="../../../../assets/img/logo-center.svg">
        <img src="../../../../assets/img/logo-flechas.svg"></div>
</header>

<nav class="desktop-nav">
    <ul>
        <li class="active"><a href="#">Conversión de divisas</a></li>
        <li><a href="#">Inversionistas</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Suscribirse</a></li>
    </ul>
</nav>

<main>
    <form #changeForm="ngForm" (ngSubmit)="getConvert()">
        <div class="form-group">
            <div class="form-group ingreso">
                <input [(ngModel)]="change.ingreso" type="number" min="0" id="ingreso" name="ingreso" #ingreso="ngModel" placeholder="EU" required>
            </div>

            <div class="alert alert-danger" *ngIf="ingreso.invalid && (ingreso.dirty || ingreso.touched)">
                <div *ngIf="ingreso.errors.required">
                    El campo es requerido
                </div>
            </div>

            <div class="form-group egreso">
                <input [(ngModel)]="change.salida" type="text" id="salida" name="salida" placeholder="USD" disabled>
            </div>
        </div>
        <button type="submit" [disabled]="!changeForm.form.valid">CALCULATE</button>
    </form>
</main>

<footer>
    <div class="col">
        <ul>
            <li><a href="#">Legales</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Política de cookies</a></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Empresas</a></li>
            <li><a href="#">Bancos</a></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">+54 9 12345667</a></li>
            <li><a href="#">info@monexchange.com</a></li>
            <li><a href="#">Barcelona, España</a></li>
        </ul>
    </div>
    <div class="col">
        <ul>
            <li>Redes sociales</li>
            <li><a href="#"><img src="../../../../assets/img/icon-fb.svg"></a></li>
            <li><a href="#"><img src="../../../../assets/img/icon-tw.svg"></a></li>
            <li><a href="#"><img src="../../../../assets/img/icon-ig.svg"></a></li>
        </ul>
    </div>
</footer>
